@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid flex-row ">
    <div class="row text-center" style="height: 70vh">
        <div class="col flex-column bg-primary" >
            <h2>Backlog</h2>
        </div>
        <div class="col flex-column bg-secondary">
            <h2>In Progress</h2>
        </div>
        <div class="col flex-column bg-success">
            <h2>Review</h2>
        </div>
        <div class="col flex-column bg-info">
            <h2>Testing</h2>
        </div>
        <div class="col flex-column bg-warning">
            <h2>Delivered</h2>
        </div>
    </div>
</div>